<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482691047650-7f1i938tpic2qemuvd25ssem9trjja1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482691047650-7f1i938tpic2qemuvd25ssem9trjja1e</string>
	<key>API_KEY</key>
	<string>AIzaSyAT5BDyLZRJ15rFpzRsaT-GxkKsoyGvpNc</string>
	<key>GCM_SENDER_ID</key>
	<string>482691047650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.phai.todoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todofirebase-3fd7c</string>
	<key>STORAGE_BUCKET</key>
	<string>todofirebase-3fd7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482691047650:ios:4e07b370dc63e649067ebb</string>
</dict>
</plist>